@import "src/theme/colors";

.Pagination {
  margin-top: 2em;

  > ul {
    display: flex;
    justify-content: center;

    > li {
      border-radius: 50%;
      cursor: pointer;
      display: block;
      height: 2em;
      line-height: 2em;
      margin: 0 1em 0 0;
      text-align: center;
      width: 2em;

      &:hover {
        background-color: $background-dark;
      }

      &.active {
        background-color: $background-darken;
        color: $color-light;
        cursor: default;
      }
    }
  }
}
