@import "src/theme/colors";
@import "src/theme/variables";

.Button {
  background-color: $light-grey;
  border-radius: 2em;
  border: 0;
  cursor: pointer;
  font-weight: 700;
  height: 3.5em;
  padding: 0 2em;

  &.small {
    border-radius: 0.5em;
    height: 2.2em;
    padding: 0 1.1em;
  }

  &:focus {
    border: 0;
    outline: 0;
  }

  &:hover {
    background-color: darken($light-grey, $hover-darken);
  }

  &.primary {
    background-color: $blue;
    color: $white;

    &:hover {
      background-color: darken($blue, $hover-darken);
    }
  }

  &.success {
    background-color: $green;
    color: $white;

    &:hover {
      background-color: darken($green, $hover-darken);
    }
  }

  &.warning {
    background-color: $orange;
    color: $white;

    &:hover {
      background-color: darken($orange, $hover-darken);
    }
  }

  &.error {
    background-color: $pink;
    color: $white;

    &:hover {
      background-color: darken($pink, $hover-darken);
    }
  }

  &.info {
    background-color: $light-blue;
    color: $white;

    &:hover {
      background-color: darken($light-blue, $hover-darken);
    }
  }
}
