@import "src/theme/colors";
@import "src/theme/variables";

.StatusIcon {
  background-color: $blue-grey-darker;
  color: $blue-grey-darken;
  text-align: center;

  &.small {
    font-size: 0.8em;
    height: 2.3em;
    line-height: 2.6em;
    width: 2.3em;
  }

  &.default {
    height: 2.5em;
    line-height: 2.8em;
    width: 2.5em;
  }

  &.big {
    height: 3em;
    line-height: 3.3em;
    width: 3em;
  }

  &.success {
    background-color: lighten($green, $badge-text-lighten);
    color: $green;
  }

  &.progress {
    background-color: lighten($light-blue, $badge-text-lighten);
    color: $light-blue;
  }

  &.paused {
    background-color: lighten($orange, $badge-text-lighten);
    color: $orange;
  }

  &.archived {
    background-color: lighten($blue-grey-darken, $badge-text-lighten);
    color: $blue-grey-darken;
  }

  &.square {
    border-radius: 0;
  }

  &.rounded {
    border-radius: 0.6em;
  }

  &.circle {
    border-radius: 50%;
  }
}
