.Campaigns {
  display: block !important;

  .List {
    width: 100%;

    > li {
      display: flex;
      margin: 0 0 1em;
      padding: 1em 0;

      .Status {
        padding-right: 1.5em;
      }

      .Heading {
        overflow: hidden;
        padding-top: 0.2em;
        width: 50%;

        h5 {
          cursor: default;
          font-size: 1em;
          margin-bottom: 0.2em;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 90%;
        }

        p {
          color: #9da2a7;
          font-size: 0.9em;
          margin-bottom: 0;
        }
      }

      .Thumbnail {
        height: 3em;
        padding-right: 1em;

        img {
          height: 100%;
          width: auto;
        }
      }

      .Type {
        flex-grow: 1;
        line-height: 2.5em;
      }

      .Progress {
        flex-grow: 1;
        line-height: 2.5em;
      }

      .Actions {
        display: flex;

        button {
          background-color: #fff;
          border: 0;
          border-radius: 50%;
          cursor: pointer;
          display: block;
          font-size: 1em;
          height: 2.5em;
          line-height: 2.8em;
          margin: 0 0.3em;
          width: 2.5em;

          &:hover {
            background-color: #dfe0f1;
          }

          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}
