@import "src/theme/colors";

.Security {
  form {
    margin-top: 2em;

    article {
      display: flex;
      margin-bottom: 1.2em;

      .Label {
        width: 33%;

        .Description {
          color: $blue-grey-darken;
          font-size: 0.8em;
          margin-top: 0.2em;
        }
      }

      .Field {
        width: 33%;
      }
    }
  }
}
