$blue: #216fed;
$dark-purple: #716fdf;
$green: #21b17c;
$light-blue: #36a6e3;
$orange: #fd840b;
$pink: #f7727b;
$purple: #b24cc0;


$button-background-default: #eeeff6;
$button-background-primary: #216fed;
$button-background-info: #eeeff6;
$button-background-success: #21b17c;
$button-background-warning: #eeeff6;
$button-background-error: #eeeff6;

$button-background-hover-default: #d2d3e7;
$button-background-hover-primary: #2363cb;
$button-background-hover-info: #eeeff6;
$button-background-hover-success: #1fa071;
$button-background-hover-warning: #eeeff6;
$button-background-hover-error: #eeeff6;

$button-font-color-dark: #000;
$button-font-color-light: #fff;


$background-dark: #d2d3e7;
$background-darken: #9da2a7;


$card-background: #fefeff;
$card-title: #46474b;


$color-light: #f4f3f9;
