// Common
$blue: #216fed;
$dark-purple: #716fdf;
$green: #21b17c;
$light-blue: #36a6e3;
$orange: #fd840b;
$pink: #f7727b;
$purple: #b24cc0;
$red: #fa5252;
$white: #fff;
$black: #000;

// Grayscale
$whitest: #f4f3f9;
$almost-white: #fefeff;
$light-grey: #eeeff6;
$blue-grey-darker: #d2d3e7;
$blue-grey: #c1d6e0;
$basic-grey: #a6a5ab;
$blue-grey-darken: #9da2a7;
$light-dark-grey: #68676d;
$dark-grey: #46474b;
