@import "src/theme/colors";

@keyframes rotating {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.Section {
  padding: 2em;

  h1 {
    color: $dark-grey;

    button {
      margin-left: 1em;
      margin-bottom: -3px;
      position: relative;
      top: -0.2em;
    }
  }

  .Caption {
    color: $blue-grey-darken;
    font-size: 0.9em;
    margin-top: 0.3em;
  }

  main {
    display: flex;
    margin-top: 2em;
  }

  .Loader {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 50vh;

    svg {
      animation: rotating 2s linear infinite;
      color: $blue-grey;
      height: 2.2em;
      margin-bottom: 15px;
      width: 2.2em;
    }

    span {
      color: $blue-grey;
      font-size: 1.4em;
      font-weight: 500;
    }
  }
}
