@import "src/theme/variables";

@keyframes rotating {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.Section {
  padding: 2em;

  h1 {
    color: #46494e;

    button {
      background-color: #21b17c;
      border: 0;
      border-radius: 0.5em;
      color: #fff;
      cursor: pointer;
      font-size: 0.63em;
      font-weight: 500;
      margin-left: 1em;
      margin-bottom: -5px;
      padding: 0.3em 0.5em;
      position: relative;
      top: -0.2em;

      &:hover {
        background-color: #1fa071;
      }

      &:focus {
        border: 0;
        outline: none;
      }
    }
  }

  .Caption {
    color: #9da2a7;
    font-size: 0.9em;
    margin-top: 0.3em;
  }

  main {
    display: flex;
    margin-top: 2em;
  }

  .Loader {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 50vh;

    svg {
      animation: rotating 2s linear infinite;
      color: $light-grey;
      height: 2.2em;
      margin-bottom: 15px;
      width: 2.2em;
    }

    span {
      color: $light-grey;
      font-size: 1.4em;
      font-weight: 500;
    }
  }
}
