@import "src/theme/colors";

.NewsFeed {
  article {
    margin-bottom: 1.5em;

    h5 {
      font-weight: 700;
      margin-bottom: 0.8em;
    }

    .Text {
      font-size: 1em;
      margin-bottom: 0.8em;
    }

    .Date {
      color: $blue-grey-darken;
      font-size: 0.8em;
    }
  }
}
