.NewsFeed {
  article {
    margin-bottom: 1.5em;

    h5 {
      font-weight: 700;
      margin-bottom: 0.8em;
    }

    .Text {
      font-size: 1em;
      margin-bottom: 0.8em;
    }

    .Date {
      color: #9da2a7;
      font-size: 0.8em;
    }
  }
}
