@import "src/theme/colors";

.ProgressBar {
  background-color: $blue-grey-darker;
  border-radius: 0.5em;
  height: 2em;
  overflow: hidden;
  width: 100%;

  > div {
    background-color: $blue;
    color: $whitest;
    height: 100%;
    line-height: 2em;
    text-align: center;
  }

  &.finished {
    > div {
      background-color: $green;
    }
  }
}
