@import "src/theme/colors";

.Avatar {
  display: flex;
  margin-bottom: 2.5em;

  & > img {
    border-radius: 50%;
    max-width: 3em;
  }

  .Info {
    margin: 0 1.4em 0 0.8em;

    .Name {
      color: $dark-grey;
      display: block;
      font-weight: 500;
      margin: 0.2em 0 0;
      white-space: nowrap;
    }

    .Mail {
      color: $basic-grey;
      font-size: 0.8em;
    }
  }

  .Settings {
    background-color: $blue-grey-darker;
    border: 0;
    border-radius: 50%;
    color: $blue-grey-darken;
    cursor: pointer;
    height: 2.7em;
    line-height: 3.05em;
    margin-top: 0.15em;
    text-align: center;
    width: 2.7em;

    &:hover {
      background-color: $basic-grey;
    }
  }
}
