.Layout {
  font-family: 'Roboto', 'Arial', sans-serif;
  max-width: 960px;
  margin: auto;

  & > header {
    padding: 50px 0;

    h1 {
      font-weight: 300;
      text-align: center;
    }
  }

  & > main {
    display: flex;
    margin: auto -1rem -1rem;

    & > aside,
    & > section {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      padding: 1rem;
    }

    & > aside {
      flex: 1;
    }

    & > section {
      flex: 3;
    }
  }
}
