@import "src/theme/colors";

.Sidebar {
  background-color: $whitest;
  display: flex;
  flex-direction: column;
  padding: 2em;
  width: 22em;

  h4 {
    color: $basic-grey;
    font-size: 1em;
    font-weight: 500;
  }

  .SideMenu {
    margin-bottom: 2em;

    ul {
      & > li {
        display: flex;
        margin: 1.8em 0;
        position: relative;

        & > a {
          color: $light-dark-grey;
          display: flex;
          font-size: 1em;
          font-weight: 500;
          line-height: 2em;
          text-decoration: none;
          width: 100%;
          z-index: 1;

          &:hover {
            color: $dark-grey;
          }
        }

        &:before {
          background: rgba(143, 132, 174, 0.1);
          border-radius: 1em;
          content: '';
          display: none;
          height: calc(100% + 1.6em);
          left: -1em;
          position: absolute;
          top: -0.8em;
          width: calc(100% + 2em);
          z-index: 0;
        }

        &:hover {
          &:before {
            display: block;
          }
        }
      }
    }
  }
}
